div.recipy-container {
    min-height: 80vh;
    min-width: 95vw;
}

div.dish-name {
    margin: 10px;
    background-color: aqua;
    color: crimson;
    border: 1px dotted crimson;
    padding: 10px;
}

div.recipy-name {
    margin: 10px;
    background-color: gold;
    color: slateblue;
    border: 1px dotted rgb(65, 8, 199);
    padding: 10px;
}

img {
    width: 80vw;
}